name: test

on:
  push:
    branches:
      - main
      - staging
      - trying
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17"
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go test ./...
